

/*-------------------------*/
/*------BASIC SETUPS-------*/
/*-------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0px solid #000000;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

h1,h2,h3,p,
.nav-link,.btn,input,select{
    font-family: sans-serif;
    font-style: normal;
    color: #000000;
    font-weight: bold;
}

h1{
    font-size: 187.5%;
    line-height: 130%;
    margin: 17px 0;
}

h2{
    font-size: 150%;
    line-height: 150%;
    text-align: center;
    padding: 56px 0 16px 0;
}

h3{
    font-size: 125%;
    line-height: 130%;
    text-align: center;
    margin: 16px auto;
}

p{
    font-weight: normal;
    font-size: 100%;
    line-height: 24px;
}

.border{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.btn{
    display: inline-block;
    padding: 8px 16px;
    border: none;
    background-color: #00BAFC;
    color: #ffffff;
    text-align: center;
    transition: .3s;
}

.btn:hover{
    background-color: rgba(0, 186, 252, 0.8);
}

.btn:active{
    background-color: rgba(0, 186, 252, 0.6);
}

.active{
    border-bottom: 3px solid #000 !important;
}

.card,.box1{
    -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}


/*-------------------------*/
/*---------NAVBAR----------*/
/*-------------------------*/

nav{
    -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-brand a{
    position: relative;
    display: block;
    height: 20px;
    width: 60px;
    cursor: pointer;
}

.nav-brand a img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.nav-brand a:link img:nth-child(3),
.nav-brand a:hover img:nth-child(2),
.nav-brand a:active img:nth-child(1){
    visibility: visible;
}

.nav-menu{
    display: flex;
    align-items: center;
}

.nav-link{
    display: block;
    padding: 16px;
    text-align: center;
    font-weight: normal;
    font-size: 93.75%;
    line-height: 24px;
    border-bottom: 3px solid transparent;
    transition: .1s;
}

.nav-link:hover{
    border-bottom-color: #000000;
}

.nav-link:active{
    background-color: rgba(25, 25, 25, 0.7);
    border-bottom-color: transparent;
    color: #fff;
}

.nav-item:last-child>.nav-link{
    padding: 8px 16px;
    background-color: #00BAFC;
    color: #fff;
    font-weight: bold;
    border: 3px solid #00BAFC;
    transition: .1s;
}

.nav-item:last-child>.nav-link:hover{
    background-color: transparent;
    color: #00BAFC;
}

.nav-item:last-child>.nav-link:active{
    border-color: transparent;
    color: #fff;
    background-color: rgba(0, 186, 252, 0.6);
}

#dr{
    position: relative;
}

.drop-down{
    position: absolute;
    bottom: -195px;
    left: -13px;
    background-color: #fff;
    width: 122px;
    padding: 8px 0;
    visibility: hidden;
    opacity: 0;
    transition: .2s;
    transform: translateY(5px);
    -webkit-box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
}

.drop-down .drop-link{
    display: block;
    padding: 8px 16px;
    color: #000;
    transition: background-color .3s ease, color .3s ease;
}

.drop-down .drop-link:hover{
    background-color: #00BAFC;
    color: #fff;
}

.drop-down .drop-link:active{
    background-color: #66D6FD;
}

#dr:hover .drop-down{
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
}


/*-------------------------*/
/*-----BANNER SECTION------*/
/*-------------------------*/

.banner .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-section p{
    margin-bottom: 17px;
}

.frame-section{
    width: 458px;
    height: 258px;
    margin: 80px 0;
}

.frame-section iframe{
    background: url("../img/youtube-embed.svg");
}


/*-------------------------*/
/*-----CONTENT SECTION-----*/
/*-------------------------*/

/*-----First Content-----*/
/*-----------------------*/

.first-content .container{
    text-align: center;
}

.first-content p{
    text-align: center;
}
/*.first-content a:last-child*/
.link{
    margin-left: 16px;
    color: #00BAFC;
    text-decoration: underline;
}
.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 24px;
}

.card{
    width: 320px;
    height: 260px;
    text-align: center;
    margin-left: 35px;
    transition: .1s;
}

.card:hover,
.box1:hover{
    -webkit-box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
}

.card:active,
.box1:active{
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.card:first-child,
.card:nth-child(4){
    margin-left: 0;
}

.card:nth-child(4),
.card:nth-child(5){
    margin-top: 48px;
    margin-bottom: 48px;
}
.card img{
    margin: 24px auto;
    margin-bottom: 0;
}

/*-----Second Content-----*/
/*------------------------*/

.second-content .container .mini-sections{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.second-content{
    text-align: center;
    padding-bottom: 56px;
}

.second-content .container>p{
    margin-bottom: 24px;
}

.section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}

.section h3, .section p{
    text-align: start;
}

.section:nth-child(odd) .section-text{
    margin-left: 35.5px;
    width: 500px;
}

.section:nth-child(even) .section-text{
    margin-right: 35.5px;
    width: 500px;
}


/*-------------------------*/
/*---------FOOTER----------*/
/*-------------------------*/

/*---------TOP----------*/
/*----------------------*/

.top{
    background-color: #00BAFC;
    padding-bottom: 64px;
}

.top p,.top h2{
    text-align: center;
    color: #ffffff;
}

.form{
    width: 348px;
    background-color: #ffffff;
    padding: 24px;
    text-align: center;
    margin: 24px auto;
    margin-bottom: 0;
}

input,select{
    width: 100%;
    padding: 16px 14px;
    background-color: #F3F3F3;
    border: none;
    font-size: 100%;
    line-height: 24px;
    margin-bottom: 16px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

select{
    color: #757575;
}

/*--------BOTTOM--------*/
/*----------------------*/

.bottom{
    background-color: #191919;
    padding-top: 56px;
    padding-bottom: 56px;
}

.bottom .container{
    display: flex;
}
.box{
    margin-right: 100px;
}

.box h3, .box p{
    color: #fff;
    text-align: start;
}

.bottom .box:nth-child(1){
    width: 320px;
}

.bottom .box:nth-child(2){
    width: 143px;
}

.bottom .box:nth-child(3){
    width: 142px;
}

.page-link{
    color: #fff;
    padding: 10px 0;
    display: inline-block;
    font-weight: 100;
    cursor: pointer;
}

.page-link:hover{
    color: #00BAFC;
}

.page-link:active{
    color: rgb(0, 108, 148);
}

.page-item .page-link:active~ .icon-telegram::before,
.page-item .page-link:active~ .icon-facebook::before,
.page-item .page-link:active~ .icon-instagram::before{
    color: #A3A3A3;
}

.page-item{
    display: flex;
    align-items: center;
}

.page-item .page-link{
    order: 2;
}

.icon{
    width: 23px;
    height: 23px;
    margin-right: 10px; 
    order: 1; 
    font-size: 165%;
    text-align: start;
    position: relative;
    top: -2px;
}

.icon-instagram::before{
    position: relative;
    left: -3px;
}