

/*-------------------------*/
/*------BASIC SETUPS-------*/
/*-------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

h1,h2,h3,p,
.nav-link,.btn,input,select{
    font-family: sans-serif;
    font-style: normal;
    color: #000000;
    font-weight: bold;
}

h1{
    font-size: 187.5%;
    line-height: 130%;
    margin: 17px 0;
}

h2{
    font-size: 150%;
    line-height: 150%;
    text-align: center;
    padding: 56px 0 16px 0;
}

h3{
    font-size: 125%;
    line-height: 130%;
    text-align: center;
    margin: 16px auto;
}

p{
    font-weight: 400;
    font-style: normal;
    font-size: 100%;
    line-height: 24px;
}

.border{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.btn{
    display: inline-block;
    padding: 8px 16px;
    border: none;
    background-color: #00BAFC;
    color: #ffffff;
    text-align: center;
    transition: .3s;
}

.btn:hover{
    background-color: rgba(0, 186, 252, 0.8);
}

.btn:active{
    background-color: rgba(0, 186, 252, 0.6);
}

.active{
    border-bottom: 3px solid #000 !important;
}

.active:active{
    background-color: transparent !important;
    color: #000 !important;
}

.card,.box1{
    -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}


/*-------------------------*/
/*---------NAVBAR----------*/
/*-------------------------*/

nav{
    -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

nav .container{
    display: flex;
    align-items: center;
}

.nav-brand a{
    display: block;
    height: 20px;
    width: 60px;
    cursor: pointer;
}

.nav-menu{
    margin-left: auto;
}

.nav-brand a:hover{
    opacity: .8;
}

.nav-brand a:active{
    opacity: .5;
}

.nav-brand a img{
    width: 100%;
    height: 100%;
}

.nav-menu{
    display: flex;
    align-items: center;
}

.nav-link{
    display: block;
    padding: 16px;
    text-align: center;
    font-weight: normal;
    font-size: 93.75%;
    line-height: 24px;
    border-bottom: 3px solid transparent;
    transition: .1s;
}

.nav-link:hover{
    border-bottom-color: #000000;
}

.nav-link:active{
    background-color: rgba(25, 25, 25, 0.7);
    border-bottom-color: transparent;
    color: #fff;
}

.nav-item:last-child .nav-link{
    padding: 8px 16px;
    background-color: #00BAFC;
    color: #fff;
    font-weight: bold;
    border: 3px solid #00BAFC;
    transition: .1s;
}

.nav-item:last-child .nav-link:hover{
    background-color: transparent;
    color: #00BAFC;
}

.nav-item:last-child .nav-link:active{
    border-color: transparent !important;
    color: #fff !important;
    background-color: rgba(0, 186, 252, 0.6) !important;
}

#dr{
    position: relative;
}

.drop-down{
    position: absolute;
    top: 59px;
    left: -13px;
    background-color: #fff;
    width: 122px;
    padding: 8px 0;
    visibility: hidden;
    opacity: 0;
    transition: .2s;
    transform: translateY(5px);
    -webkit-box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
}

.drop-down .drop-link{
    display: block;
    padding: 8px 16px;
    color: #000;
    transition: background-color .3s ease, color .3s ease;
}

.drop-down .drop-link:hover{
    background-color: #00BAFC;
    color: #fff;
}

.drop-down .drop-link:active{
    background-color: #66D6FD;
}

#dr:hover .drop-down{
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
}


/*-------------------------*/
/*-----BANNER SECTION------*/
/*-------------------------*/

.banner .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-section p{
    margin-bottom: 17px;
}

.frame-section{
    width: 458px;
    height: 258px;
    margin: 80px 0;
}

.frame-section iframe{
    width: 100%;
    height: 100%;
    border: none;
}


/*-------------------------*/
/*-----CONTENT SECTION-----*/
/*-------------------------*/

/*-----First Content-----*/
/*-----------------------*/

.first-content .container{
    text-align: center;
}

.first-content p{
    text-align: center;
}

.link{
    margin-left: 16px;
    color: #00BAFC;
    text-decoration: underline;
}

.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 24px;
}

.card{
    width: 320px;
    height: 260px;
    display: block;
    text-align: center;
    margin-left: 35px;
    transition: .1s;
}

.card:before{
    content: '';
    width: 202px;
    height: 130px;
    display: block;
    background-position: center;
    background-size: 202px 130px;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 24px;
}

.card:nth-child(1):before{
    background-image: url(../img/website-illustration.svg);
}

.card:nth-child(2):before{
    background-image: url(../img/bot-illustration.svg);
}

.card:nth-child(3):before{
    background-image: url(../img/smm-illustration.svg);
}

.card:nth-child(4):before{
    background-image: url(../img/design-illustration.svg);
}

.card:nth-child(5):before{
    background-image: url(../img/crm-illustration.svg);
}

.card:hover,
.box1:hover{
    -webkit-box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
}

.card:active,
.box1:active{
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.card:first-child,
.card:nth-child(4){
    margin-left: 0;
}

.card:nth-child(4),
.card:nth-child(5){
    margin-top: 48px;
    margin-bottom: 48px;
}
.card img{
    margin: 24px auto;
    margin-bottom: 0;
}

/*-----Second Content-----*/
/*------------------------*/

.second-content .container .mini-sections{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.second-content{
    text-align: center;
    padding-bottom: 56px;
}

.second-content .container>p{
    margin-bottom: 24px;
}

.section{
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    width: 832px;
    height: 278px;
}

.section:nth-child(odd) .section-text{
    order: 2;
    margin-left: 32px;
}

.section:nth-child(even) .section-text{
    order: 1;
    margin-right: 32px;
}

.section::before{
    content: '';
    width: 300px;
    height: 278px;
    display: block;
    background-position: center;
    background-size: 300px 278px;
    background-repeat: no-repeat;
}

.section:first-child::before{
    order: 1;
    background-image: url(../img/step-illlustration.svg);
}

.section:nth-child(2)::before{
    order: 2;   
    background-image: url(../img/step-illlustration2.svg);
}

.section:nth-child(3)::before{
    order: 1;   
    background-image: url(../img/step-illustration3.svg);
}

.section:nth-child(4)::before{
    order: 2;
    background-image: url(../img/champ.svg);
}

.section:last-child::before{
    order: 1;
    background-image: url(../img/avat.svg);
}


.section h3, .section p{
    text-align: start;
}


/*-------------------------*/
/*---------FOOTER----------*/
/*-------------------------*/

/*---------TOP----------*/
/*----------------------*/

.top{
    background-color: #00BAFC;
    padding-bottom: 64px;
}

.top p,.top h2{
    text-align: center;
    color: #ffffff;
}

.form{
    width: 348px;
    background-color: #ffffff;
    padding: 24px;
    text-align: center;
    margin: 24px auto;
    margin-bottom: 0;
}

input,select{
    width: 100%;
    padding: 16px 14px;
    background-color: #F3F3F3;
    border: none;
    font-size: 100%;
    line-height: 24px;
    margin-bottom: 16px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

select{
    color: #757575;
}

/*--------BOTTOM--------*/
/*----------------------*/

.bottom{
    background-color: #191919;
    padding-top: 56px;
    padding-bottom: 56px;
}

.bottom .container{
    display: flex;
}
.box{
    margin-right: 100px;
}

.box p{
    color: #fff;
    text-align: start;
    word-spacing: 1px;
    letter-spacing: 1px;
}

.box>p:first-child{
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 16px;
    font-weight: bolder;
    word-spacing: 0;
    letter-spacing: 0;
}

.bottom .box:nth-child(1){
    width: 320px;
}

.bottom .box:nth-child(2){
    width: 143px;
}

.bottom .box:nth-child(3){
    width: 142px;
}

.page-link-left,
.page-link-right{
    color: #fff;
    padding: 10px 0;
    display: inline-block;
    font-weight: 100;
    cursor: pointer;
}

.page-link-left:hover,
.page-link-right:hover{
    color: #00BAFC;
}

.page-link-left:active,
.page-link-right:active{
    color: rgb(0, 108, 148);
}

.page-item-right{
    display: flex;
    align-items: center;
}

.page-link-right::before{
    content: '';
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 10px;
    margin-right: 8px;
}

.page-item-right:first-child .page-link-right::before{
    background-image: url(../icon/telegram.svg);
}

.page-item-right:nth-child(2) .page-link-right::before{
    background-image: url(../icon/facebook.svg);
}

.page-item-right:last-child .page-link-right::before{
    background-image: url(../icon/instagram.svg);
}

.page-link-right:active::before{
    opacity: .7;
}